* {
  box-sizing: border-box;
}

/* for debugging the layout */
body > * {
  border: 1px solid blue;
}
/************************************/

body {
  margin: 0;
  padding: 0;

  height: 100vh;

  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar dashboard";
}

header {
  grid-area: header;
}

aside.sidebar {
  grid-area: sidebar;
}

aside.sidebar ul img {
  height: 2rem;
}

section.dashboard {
  grid-area: dashboard;
}
